body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

div span.highlighted {
	font-weight: bold;
	background-color: yellow;
}

div#headshot {
	margin-top: 75px;
}

div#headshot h1 {
	font-family: 'Vollkorn', serif;
	letter-spacing: 0.15em;
}

div#intro{
	margin-top: 50px
}

div#intro span{
	font-weight: bold;
}

div#projects {
	margin-top: 50px;
}

div#projects span.project-title {
	font-weight: bold;
}

div#projects a {
	font-style: italic;
}

footer {
	margin-top: 50px;
	position: relative;
}

