.card{
	display:none;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-image: url(pic/connectwork.png);
	background-repeat: repeat;
	padding: 2.5% 10% 0 10%;
	color: #B0B0B0;
}

.anchor{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}

.navbar {
	background-image: url(pic/connectwork.png);
	background-repeat: repeat;
}

.nav-link {
	font-size: x-large;
	color: #B0B0B0;
	font-weight: bold;
}

.nav-link:hover {
	color: white;
	font-weight: bolder;
	text-decoration: underline;
}

.header {
	font-weight: bold;
	padding: 0 0 0 3%;
}

.container {
	padding: 0 0 7% 0;
}

.pic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.card {
	color: #282828;
	text-decoration: none;
	background-image: url(pic/lightpaperfibers.png);
	background-repeat: repeat;
	border-radius: 15px;
}

.card:hover {
	color: #282828;
	text-decoration: none;
}

.card-text {
	line-height: 1.6;
}

.card-title {
	font-weight: bold;
	margin: 5% 0 7.5% 0;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

/* source: https://codepen.io/yuhanx/pen/jdNWxv */
.active-card::before, .active-card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform .3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}

.active-card::before {
	transform-origin: left top;
}

.active-card::after {
	transform-origin: right bottom;
}

.active-card:hover::before, .active-card:hover::after, .active-card:focus::before, .active-card:focus::after {
 	transform: scale3d(1, 1, 1);
}

.btn {
	border-radius: 15px;
}

.fab {
	color: white;
}

.fas {
	color: white;
}

#resume-link {
	color: #282828;
}

#resume-link:hover {
	color: #282828;
	text-decoration: underline;
}