html {
	scroll-behavior: smooth;	
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-image: url(pic/cream_dust.jpg);
	background-repeat: repeat;
	padding: 2.5% 10% 0 10%
}
img {
	image-orientation: from-image;
}
.container{
	padding: 0 0 7% 0;
}
.pic {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
#introduction{
	padding: 4% 0 0 0;
}